In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Fixing random state for reproducibility
np.random.seed(19680801)

# fake up some data
spread = np.random.rand(50) * 100
center = np.ones(25) * 50
flier_high = np.random.rand(10) * 100 + 100
flier_low = np.random.rand(10) * -100
data = np.concatenate((spread, center, flier_high, flier_low))
df = pd.DataFrame(data)
df

             0
0    70.036730
1    74.275081
2    70.928001
3    56.674552
4    97.778533
5    70.633485
6    24.791576
7    15.788335
8    69.769852
9    71.995667
10   25.774443
11   34.154678
12   96.876117
13   69.450710
14   46.638326
15   70.281270
16   51.178587
17   92.874137
18   73.976930
19   62.243903
20   65.154547
21   39.680761
22   54.323939
23   79.989953
24   72.154473
25   29.536398
26   16.094588
27   20.612551
28   13.432539
29   48.060502
..         ...
65   50.000000
66   50.000000
67   50.000000
68   50.000000
69   50.000000
70   50.000000
71   50.000000
72   50.000000
73   50.000000
74   50.000000
75  175.060714
76  111.378445
77  184.536125
78  192.393213
79  122.083679
80  193.305388
81  148.899874
82  147.471864
83  108.916747
84  122.994818
85  -71.593741
86  -49.612616
87  -76.648938
88  -89.679732
89  -77.222302
90  -92.717429
91  -61.465203
92  -60.906377
93  -68.468487
94  -25.101297

[95 rows x 1 columns]